<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>All Posts</title>
  </head>
  <body>
    <h1>All Posts</h1>
    <ul>
      <% posts.forEach(post => { %>
        <li>
          <a href="/posts/<%= post.id %>">
            <%= post.title %>
          </a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
